* {
  padding: 0;
  margin: 0;
  font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}
